html
    head
        title TR-808 | by Gregor Adams
        link(rel='stylesheet',href='./index.css')
    body
        // fix the blank preview
        // this static image will be removed by React.js
        // sadly CodePen previews won't show the rendered pen so I added this screenshot as a fallback and scaled it to especially fit into pen previews
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/28359/tr-808.jpg' alt='tr-808' style="width:'auto',height:'80vh', margin: 'auto', display: 'block'")

        script(src='./bundle.js')
